* {
    box-sizing: border-box;
}
.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-name {
    font-size: 1.6em;
    width: 80%;
    padding-bottom: 1em;
    border-bottom: 4px solid #eee;
}

.is-inline-block {
    display: inline-block;
}

.banner {
    padding: 2em 1em;
    display: flex;
    align-items: center;
}
.letter {
    white-space: pre-line;
    line-height: 2em;
    margin-left: 2em;
}
.menu {
    margin-top: 1em;
}
a {
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    background-color: #0170fe;
    color: white;
    padding: 0.6em 2em;
    margin-right: 1em;
    cursor: pointer;
}
a:hover {
    background-color: #398dfc;
}
