.info {
    &__item {
        margin-bottom: 1em;
        text-align: center;

        input {
            margin-left: 1em;
            outline: none;
            border-radius: 4px;
            border: 1px solid #939aa3;
            padding: 4px 4px;

            &:focus {
                border-color: #1d7dfa;
            }
        }

        label::after {
            content: '*';
            color: red;
        }
    }
}