#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 * 公共样式
 */

.is-flex {
    display: flex;
}

.is-inline-flex {
    display: inline-flex;
}

.is-column {
    flex-flow: column;
}

.is-center {
    justify-content: center;
}

.is-end {
    justify-content: flex-end;
}

.is-middle {
    align-items: center;
}

.is-between {
    justify-content: space-between;
}

.is-fixed {
    position: fixed;
    width: 100%;
}

.is-sticky {
    position: sticky;
    top: 0;
}